
body{ 
    background-color: white;
    width: 75%%;
    margin: auto;   
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

nav ul li{
    padding: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    border-bottom: 1px solid black;
}

header span{
    color: darkorange;
}

main section{
    background-color: rgb(43, 40, 40);
    color: white;
    text-align: center;
    padding: 20px;
}


main{
    background-color: orange;
}

main h3{
    text-align: center
}

footer{
    background-color: black;
    color: white;
    padding: 50px;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    width: 75%;
}

.flex-container div{
    margin: 10px;
    padding: 10px

}



